<% if @task.errors.present? %>
<ul>
	<% @task.errors.each do |error, message| %>
	<li> <%= "#{error.capitalize}  #{message}" %></li>
	<% end %>
</ul>
<% end%>

<div class="form container">
	<%= form_for @task do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>	
	<div class="form-group">
		<%= f.label :due_date %>
		<div class='input-group date datetimepicker' id=''>			
			<%= f.text_field :due_date,  class: "form-control" %>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :note %>
		<%= f.text_field :note, class: "form-control" %>
	</div>

	<%= f.submit 'SEND', :class => 'btn btn-primary btn-block' %>
	<% end %>



</div>

<script type="text/javascript">
	$(function () {
		$('.datetimepicker').datetimepicker({
			format: 'YYYY-MM-DD'
		});
	});
</script>



